.contact {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 15%;
    animation: about-pop .5s ease-in-out
}

.contact .card {
    background: #ffffff;
    padding: 20px;
    color: #333;
    text-align: justify
}

.contact .card header {
    font-size: 2rem;
}

.contact .card section {
    margin-top: 20px
}

.contact form p {
    padding: 20px;
    display: flex;
    flex-direction: column
}

.contact form input {
    padding: 10px
}

.contact form textarea {
    padding: 10px;
    
}

.contact form button {
    padding: 20px;
    border: 0px;
    background: rgb(0, 140, 255);
    color: #fff
}


@keyframes about-pop {
    from {
        opacity: .1;
    }
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .contact {
        padding: 10px
    }

    @keyframes about-pop {
        from {
            transform: translateX(-400px);
            opacity: .1;
        }
    }
    
}