nav{
    background: rgb(0, 195, 255);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav .brand a {
    text-decoration: none !important;
    color: #fff;
    display: block;
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
}


nav ul li a:hover, nav ul li a.active {
    background:  #fff;
    color: rgb(0, 195, 255);
}



